Server Samba.ova
Server-DHCP.ova.zip
Server-DHCP.ova_2.zip
Server-DHCP.ova_3.zip
Server-DNS-Master.ova.zip
Server-DNS-Slave-e-E-mail.ova.zip
Server-Samba.ova.zip
Server-WEB-e-FTP.ova.zip
.vagrant
curso_ubuntu_id_rsa
curso_ubuntu_id_rsa.pub
ubuntu-xenial-16.04-cloudimg-console.log